<h1>Books Admin</h1>
<div>
  <a class="button" (click)="addBook()">Add New Book</a>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Book Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>
          <button type="button" class="button">Show Details</button>
        </td>
      </tr>
    </tbody>

  </table>
  <div>
    <app-addBook *ngIf="action === 'add'" [book]="selectedBook"  (bookAddedEvent)="refreshData()"></app-addBook>
  </div>
</div>
